# Wikipedia

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\sawan\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\sawan\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\sawan\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\sawan\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sawan\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sawan\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sawan\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sawan\anaconda3\lib\site-packages (from requests) (1.26.7)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [221]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [222]:
page

In [ ]:
content = BeautifulSoup(page.content)
content

In [ ]:
heading = content.find('div', class_ = "mp-box")
heading

In [231]:
heading.text

'\n\nWelcome to Wikipedia,\nthe free encyclopedia that anyone can edit.\n6,524,339 articles in English\n\n'

# IMDB’s Top rated 100 movies

In [8]:
import pandas as pd
import numpy as np

In [9]:
page2 = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
page2

In [ ]:
soup = BeautifulSoup(page2.content)
soup

In [11]:
movie_names = soup.find('h3', class_="lister-item-header")
movie_names.text

'\n1.\nThe Shawshank Redemption\n(1994)\n'

In [27]:
ratings = []
for i in soup.find_all('div', class_="inline-block ratings-imdb-rating"):
    ratings.append(i.text)

In [26]:
m_names = []
for i in soup.find_all('h3', class_="lister-item-header"):
    m_names.append(i.text)

In [25]:
rank = []
for i in soup.find_all('span', class_="lister-item-index unbold text-primary"):
    rank.append(i.text)

In [24]:
year = []
for i in soup.find_all('span', class_="lister-item-year text-muted unbold"):
    year.append(i.text)

In [16]:
imdb = pd.DataFrame({
    "Movie_Names": m_names,
    "Year of Release": year,
    "Rating": ratings
}, index = rank)

In [ ]:
page3 = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
soup2 = BeautifulSoup(page3.content)
soup2

In [19]:
m_names2 = []
for i in soup2.find_all('h3', class_="lister-item-header"):
    m_names2.append(i.text)

In [20]:
rank2 = []
for i in soup2.find_all('span', class_="lister-item-index unbold text-primary"):
    rank2.append(i.text)

ratings2 = []
for i in soup2.find_all('div', class_="inline-block ratings-imdb-rating"):
    ratings2.append(i.text)

year2 = []
for i in soup2.find_all('span', class_="lister-item-year text-muted unbold"):
    year2.append(i.text)

In [21]:
imdb2 = pd.DataFrame({
    "Movie_Names": m_names2,
    "Year of Release": year2,
    "Rating": ratings2
}, index = rank2)

In [ ]:
IMDB = pd.concat([imdb, imdb2])
IMDB

In [117]:
IMDB[['test','Rank', 'Movie', 'Year', 'test']] = IMDB['Movie_Names'].str.split('\n', expand=True)

In [120]:
IMDB[['test', 'test', 'Ratings', 'test']] = IMDB['Rating'].str.split('\n', expand=True)

In [122]:
IMDB.drop('Movie_Names', axis=1, inplace = True)
IMDB.drop('Year of Release', axis=1, inplace = True)
IMDB.drop('Rating', axis=1, inplace = True)
IMDB.drop('test', axis=1, inplace = True)
IMDB.drop('Rank', axis=1, inplace = True)

In [123]:
IMDB

                                              Movie    Year Ratings
1.                         The Shawshank Redemption  (1994)     9.3
2.                                    The Godfather  (1972)     9.2
3.                                  The Dark Knight  (2008)     9.0
4.    The Lord of the Rings: The Return of the King  (2003)     9.0
5.                                 Schindler's List  (1993)     9.0
...                                             ...     ...     ...
96.                              North by Northwest  (1959)     8.3
97.                                         Vertigo  (1958)     8.3
98.                             Singin' in the Rain  (1952)     8.3
99.                                    Citizen Kane  (1941)     8.3
100.              M - Eine Stadt sucht einen Mörder  (1931)     8.3

[100 rows x 3 columns]

# IMDB’s Top rated 100 Indian movies

In [28]:
page3 = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page3

In [ ]:
soup3 = BeautifulSoup(page3.content)
soup3

In [35]:
movie_name = soup3.find('td', class_='titleColumn')
movie_name.text.split()[1:3]

['Jai', 'Bhim']

In [ ]:
mv = []

for i in soup3.find_all('td', class_='titleColumn'):
    mv.append(i.text)
    
mv

In [60]:
mv4 = pd.DataFrame({'Name':mv})

In [ ]:
mv4

In [62]:
mv4[['test','Ranking','Movie', 'Year', 'test']] = mv4['Name'].str.split('\n', expand = True)

In [63]:
mv4.drop('Name', axis=1, inplace=True)
mv4.drop('test', axis=1, inplace=True)

In [ ]:
mv4.set_index('Ranking', inplace=True)
mv4

In [66]:
rating = []

for i in soup3.find_all('td', class_='ratingColumn imdbRating'):
    rating.append(i.text)

In [99]:
ratings2 = pd.DataFrame({'Rate':rating})

In [100]:
ratings2[['Ratings', 'Rating', 'Ratings']] = ratings2['Rate'].str.split('\n', expand=True)

In [101]:
ratings2.drop('Ratings', axis=1,inplace=True)
ratings2.drop('Rate', axis=1,inplace=True)

In [ ]:
ratings2

In [103]:
ratings2 = ratings2.reset_index()

ratings2.index = ratings2.index + 1

In [104]:
ratings2.drop('index', axis=1, inplace=True)

In [ ]:
ratings2

In [108]:
mv4 = mv4.reset_index()

mv4.index = mv4.index + 1

In [110]:
mv4.drop('Ranking', axis=1, inplace=True)

In [ ]:
mv4

In [112]:
IMDB_India = pd.concat([mv4, ratings2], axis=1)

In [ ]:
IMDB_India

In [126]:
IMDB_India.drop(IMDB_India.index[100:], inplace = True)

In [127]:
IMDB_India

                                 Movie    Year Rating
1                             Jai Bhim  (2021)    8.4
2                           Anbe Sivam  (2003)    8.4
3                              Golmaal  (1979)    8.4
4                              Nayakan  (1987)    8.4
5                    Pariyerum Perumal  (2018)    8.4
..                                 ...     ...    ...
96                              Baasha  (1995)    8.0
97                              Masaan  (2015)    8.0
98                             Kahaani  (2012)    8.0
99         Baahubali 2: The Conclusion  (2017)    8.0
100                     Dil Chahta Hai  (2001)    8.0

[100 rows x 3 columns]

# Former Presidents of India

In [128]:
page4 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page4

In [129]:
soup4 = BeautifulSoup(page4.content)

In [130]:
names = []

for i in soup4.find_all('div', class_='presidentListing'):
    names.append(i.text)

In [135]:
a = pd.DataFrame({'Names':names})

In [ ]:
names

In [138]:
a[['test', 'Name','Term','test','test']]= a['Names'].str.split('\n', expand=True)

In [140]:
a.drop(['Names', 'test'], axis=1, inplace=True )

In [142]:
a[['test', 'Term of Office']]= a['Term'].str.split(':', expand=True)

In [144]:
a.drop(['Term', 'test'], axis=1, inplace=True )

In [ ]:
a

In [146]:
a.index = a.index + 1

In [148]:
a[['Names', 'test']]= a['Name'].str.split('(', expand=True)

In [150]:
a.drop(['Name', 'test'], axis=1, inplace=True )

In [ ]:
a

In [152]:
a = a[['Names', 'Term of Office']]
a

,Names,Term of Office
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# Cricket Rankings

# Top 10 ODI teams

In [7]:
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup5 = BeautifulSoup(page5.content)

In [26]:
tab= []

for i in soup5.find_all('tr', class_='table-body'):
    tab.append(i.text)

In [19]:
matcht = pd.DataFrame({'test':tab})

In [20]:
matcht[['test','Ranking','test','test','Team','test','test','Matches','Points','Ratings','test']]= matcht['test'].str.split('\n', expand = True)

In [24]:
matcht.index = matcht['Ranking']
matcht.drop(['test','Ranking'], axis =1, inplace=True)

In [ ]:

matcht = matcht.reset_index()

matcht.index = matcht.index + 1
matcht

In [44]:
n = soup5.find('span', class_='u-hide-phablet')
n.text
m = soup5.find('td', class_='rankings-block__banner--matches')
m.text
p = soup5.find('td', class_='rankings-block__banner--points')
p.text
r = soup5.find('td', class_='rankings-block__banner--rating u-text-right')
r.text

'\n                            125\n                            \n\n'

In [51]:
o = r.text.split()

In [59]:
top = pd.DataFrame({'Team':n,
                   'Matches':m,
                   'Points':p,
                   'Ratings':o})

In [62]:
top['Ranking'] = ['1']
top

          Team Matches Points Ratings Ranking
0  New Zealand      12  1,505     125       1

In [90]:
table = pd.concat([matcht, top])

In [83]:
Match1 = table.reindex([0,1,2,3,4,5,6,7,8,9])

In [86]:
Match1.index = Match1['Ranking']

In [88]:
Match1.drop("Ranking",axis=1,inplace=True)

In [89]:
Match1

                 Team Matches Points Ratings
Ranking
1         New Zealand      12  1,505     125
2             England      22  2,756     125
3            Pakistan      19  2,005     106
4               India      22  2,304     105
5           Australia      22  2,182      99
6        South Africa      19  1,872      99
7          Bangladesh      24  2,275      95
8           Sri Lanka      28  2,609      93
9         West Indies      32  2,306      72
10        Afghanistan      18  1,238      69

# Top 10 ODI Batsmen

In [3]:
page6 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup6 = BeautifulSoup(page6.content)

In [18]:
tab= []

for i in soup6.find_all('td', class_='table-body__cell rankings-table__name name'):
    tab.append(i.text)

In [28]:
names = pd.DataFrame({'tab':tab})

In [29]:
names[['test','Name','test']]= names['tab'].str.split('\n', expand=True)

In [30]:
names.drop(['tab','test'],axis=1,inplace=True)

In [103]:
names.drop(names.index[10:], inplace=True)

In [81]:

one = soup6.find('tr', class_='rankings-block__banner')
b = one.text.split()[2:6]

In [83]:
b[0:2] = [' '.join(b[0:2])]

In [91]:
c=pd.DataFrame(b)

In [97]:
d = c.T
d.columns = ['Name','Team','Rating']
d

         Name Team Rating
0  Babar Azam  PAK    892

In [98]:


team= []

for i in soup6.find_all('span', class_='table-body__logo-text'):
    team.append(i.text)
    

rate= []

for i in soup6.find_all('td', class_='table-body__cell rating'):
    rate.append(i.text)

In [99]:
a= pd.DataFrame({'Team':team, 'Rating':rate})

In [101]:
a.drop(a.index[10:], inplace=True)

In [104]:
table3 = pd.concat([names,a], axis=1)

In [108]:
table4= pd.concat([table3,d])

In [110]:
table4 = table4.reset_index()

In [114]:
table4 = table4.reindex([10,0,1,2,3,4,5,6,7,8,9])

In [122]:
table4.drop('level_0',axis=1, inplace=True)

In [124]:
table4.drop('index',axis=1, inplace=True)

In [126]:
table4.index = table4.index+1

In [128]:
table4.drop(table4.index[10:], inplace=True)

In [129]:
table4

                     Name Team Rating
1              Babar Azam  PAK    892
2             Imam-ul-Haq  PAK    815
3             Virat Kohli  IND    811
4            Rohit Sharma  IND    791
5         Quinton de Kock   SA    789
6             Ross Taylor   NZ    775
7   Rassie van der Dussen   SA    769
8          Jonny Bairstow  ENG    760
9            David Warner  AUS    745
10            Aaron Finch  AUS    727

# Top 10 ODI Bowlers

In [130]:
page7 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup7 = BeautifulSoup(page7.content)

In [131]:
N= []

for i in soup7.find_all('td', class_='table-body__cell rankings-table__name name'):
    N.append(i.text)
    
T= []

for i in soup7.find_all('span', class_='table-body__logo-text'):
    T.append(i.text)
    

R= []

for i in soup7.find_all('td', class_='table-body__cell rating'):
    R.append(i.text)

In [140]:
sec = pd.DataFrame({'Name':N,
                   'Team':T,
                   'Rating':R})

In [142]:
sec[['test','Names','test']]= sec['Name'].str.split('\n', expand=True)

In [143]:
sec.drop(['Name','test'],axis=1,inplace=True)

In [144]:
sec = sec[['Names','Team','Rating']]

In [146]:
sec.drop(sec.index[9:],inplace=True)

C:\Users\sawan\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [156]:
a = soup7.find('div', class_='rankings-block__banner--name-large')
a1 = a.text
c = soup7.find('div', class_='rankings-block__banner--rating')
c1 = c.text

In [159]:
b = soup7.find('div', class_='rankings-block__banner--nationality')
b1= b.text.split()

In [161]:
d = pd.DataFrame({ 'Names':a1,
                  'Team':b1,
                  'Rating':c1})
d

         Names Team Rating
0  Trent Boult   NZ    726

In [ ]:
table5 = pd.concat([sec,d])
table5

In [166]:
table5 = table5.reset_index()

In [168]:
table5 = table5.reindex([9,0,1,2,3,4,5,6,7,8])

In [170]:
table5 = table5.reset_index()

In [172]:
table5.drop(['level_0','index'],axis=1,inplace=True)

In [176]:
table5.index=table5.index-1

In [195]:
table5

               Names Team Rating
1        Trent Boult   NZ    726
2       Chris Woakes  ENG    686
3         Matt Henry   NZ    683
4     Shaheen Afridi  PAK    681
5     Jasprit Bumrah  IND    679
6   Mujeeb Ur Rahman  AFG    676
7     Josh Hazlewood  AUS    667
8       Mehedi Hasan  BAN    661
9      Mohammad Nabi  AFG    657
10   Shakib Al Hasan  BAN    657

# Top 10 ODI Women's teams

In [196]:
page8 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup8 = BeautifulSoup(page8.content)

In [ ]:
Y = []

for i in soup8.find_all('tr', class_='table-body'):
    Y.append(i.text)
    
Y

In [ ]:
table2 = pd.DataFrame({'test':Y})
table2

In [205]:
table2[['test','Rank','test','test','Name','Team','test','Matches','Points','Rating','test']]=table2['test'].str.split('\n', expand = True)

In [207]:
table2.drop(['test','Rank'],axis=1,inplace=True)

In [209]:
table2.drop(['Team'],axis=1,inplace=True)

In [ ]:
table2

In [228]:
a = soup8.find('span', class_='u-hide-phablet')
a1 = a.text
b = soup8.find('td', class_='rankings-block__banner--matches')
b1= b.text
c = soup8.find('td', class_='rankings-block__banner--points')
c1 = c.text
d = soup8.find('td', class_='rankings-block__banner--rating u-text-right')
d1 = d.text.split()

In [230]:
one = pd.DataFrame({
    'Name':a1,
    'Matches':b1,
    'Points':c1,
    'Rating':d1
})
one

        Name Matches Points Rating
0  Australia      29  4,837    167

In [237]:
match3 = pd.concat([table2,one])

In [247]:
match3 = match3.reset_index()

In [249]:
match3 = match3.reindex([10,0,1,2,3,4,5,6,7,8,9])

In [251]:
match3 = match3.reset_index()

In [253]:
match3.drop(['level_0','index'],axis=1,inplace=True)

In [255]:
match3.index = match3.index + 1

In [264]:
match3.drop([match3.index[10]], inplace=True)

In [265]:
match3

            Name Matches Points Rating
1      Australia      29  4,837    167
2   South Africa      32  3,949    123
3        England      30  3,531    118
4          India      29  2,889    100
5    New Zealand      31  3,019     97
6    West Indies      30  2,768     92
7     Bangladesh      12    930     78
8       Pakistan      30  1,962     65
9      Sri Lanka       8    384     48
10       Ireland       8    351     44

# Top 10 Women’s ODI Batting

In [266]:
page9 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup9 = BeautifulSoup(page9.content)

In [274]:
X = []

for i in soup9.find_all('span', class_='table-body__logo-text'):
    X.append(i.text)

Z = []

for i in soup9.find_all('td', class_='table-body__cell rating'):
    Z.append(i.text)

P = []

for i in soup9.find_all('td', class_='table-body__cell rankings-table__name name'):
    P.append(i.text)

In [276]:
table3 = pd.DataFrame({
    'Name':P,
    'Team':X,
    'Rating':Z
})

In [278]:
table3[['test','Names','test']]=table3['Name'].str.split('\n',expand=True)

In [280]:
table3.drop(['Name','test'],axis=1,inplace=True)

In [ ]:
table3 = table3[['Names','Team','Rating']]
table3

In [283]:
a = soup9.find('div', class_='rankings-block__banner--name-large')
a1 = a.text
b = soup9.find('div', class_='rankings-block__banner--nationality')
b1= b.text.split()
c = soup9.find('div', class_='rankings-block__banner--rating')
c1 = c.text

In [287]:
T = pd.DataFrame({
    'Names':a1,
    'Team':b1,
    'Rating':c1
})

In [288]:
T

          Names Team Rating
0  Alyssa Healy  AUS    785

In [301]:
match7 = pd.concat([T,table3])

In [303]:
match7 = match7.reset_index()

match7.index = match7.index +1

In [305]:
match7.drop('index', axis=1, inplace=True)

In [308]:
match7.drop(match7.index[10:], inplace=True)

Top 10 Women’s ODI Batting

In [309]:
match7

                Names Team Rating
1        Alyssa Healy  AUS    785
2      Natalie Sciver  ENG    750
3         Beth Mooney  AUS    748
4     Laura Wolvaardt   SA    713
5         Meg Lanning  AUS    710
6      Rachael Haynes  AUS    701
7   Amy Satterthwaite   NZ    681
8     Smriti Mandhana  IND    669
9      Tammy Beaumont  ENG    659
10       Ellyse Perry  AUS    642

# Top 10 Women’s ODI All-Rounder

In [313]:
page01 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup01 = BeautifulSoup(page01.content)

In [314]:
X = []

for i in soup01.find_all('td', class_='table-body__cell rankings-table__name name'):
    X.append(i.text)

Z = []

for i in soup01.find_all('span', class_='table-body__logo-text'):
    Z.append(i.text)

P = []

for i in soup01.find_all('td', class_='table-body__cell rating'):
    P.append(i.text)

In [327]:
Y = pd.DataFrame({
    'Name':X,
    'Team':Z,
    'Rating':P
})

In [328]:
Y.drop(Y.index[9:],inplace=True)

In [331]:
Y[['test','Name','test']]=Y['Name'].str.split('\n',expand= True)

In [333]:
Y.drop('test',axis=1, inplace=True)

In [ ]:
Y

In [336]:
a1 = soup01.find('div', class_='rankings-block__banner--name-large')
a = a.text
b1 = soup01.find('div', class_='rankings-block__banner--nationality')
b= b.text.split()
c1 = soup01.find('div', class_='rankings-block__banner--rating')
c = c.text

In [340]:
d = pd.DataFrame({
    'Name':a,
    'Team':b,
    'Rating':c
})

In [341]:
d

             Name Team Rating
0  Natalie Sciver  ENG    393

In [342]:
match7 = pd.concat([d,Y])

In [344]:
match7 = match7.reset_index()
match7.index = match7.index + 1

In [346]:
match7.drop('index',axis=1, inplace=True)

Top 10 Women’s ODI All-Rounder

In [347]:
match7

                Name Team Rating
1     Natalie Sciver  ENG    393
2       Ellyse Perry  AUS    374
3    Hayley Matthews   WI    338
4     Marizanne Kapp   SA    338
5        Amelia Kerr   NZ    335
6   Ashleigh Gardner  AUS    269
7      Deepti Sharma  IND    249
8      Jess Jonassen  AUS    245
9          Sune Luus   SA    223
10   Katherine Brunt  ENG    221

# NEWS Headings

In [348]:
page02 = requests.get('https://www.cnbc.com/world/?region=world')
soup02 = BeautifulSoup(page02.content)

In [350]:
P = []

for i in soup02.find_all('a', class_='LatestNews-headline'):
    P.append(i.text)

In [351]:
N = pd.DataFrame({'Heading':P})

In [357]:
L = []

for i in soup02.find_all('a', class_='LatestNews-headline'):
    L.append(i['href'])

In [358]:
Link = pd.DataFrame({'Link':L})

In [360]:

T = []

for i in soup02.find_all('time', class_='LatestNews-timestamp'):
    T.append(i.text)

In [361]:
Time = pd.DataFrame({'Time':T})

In [362]:
News = pd.concat([N,Link,Time],axis=1)
News

,Heading,Link,Time
0,Goldman Sachs names several top stocks to weat...,https://www.cnbc.com/2022/06/25/buy-stocks-lik...,2 Min Ago
1,Every new car sold in the world will be electr...,https://www.cnbc.com/2022/06/25/exxon-mobil-ce...,13 Min Ago
2,Stay away from this company poised to go publi...,https://www.cnbc.com/2022/06/24/stay-away-from...,12 Hours Ago
3,Cramer's lightning round: Move on from Digital...,https://www.cnbc.com/2022/06/24/cramers-lightn...,12 Hours Ago
4,Google memo on end of Roe v. Wade says employe...,https://www.cnbc.com/2022/06/24/google-memo-to...,12 Hours Ago
5,Tech leaders react to Roe v. Wade reversal,https://www.cnbc.com/2022/06/24/tech-execs-rea...,12 Hours Ago
6,'I'm outraged:' Women react to Roe v. Wade rul...,https://www.cnbc.com/2022/06/24/im-outraged-wo...,13 Hours Ago
7,Cramer’s week ahead: Next week will be a bellw...,https://www.cnbc.com/2022/06/24/cramers-week-a...,13 Hours Ago
8,Frontier Airlines sweetens offer for Spirit me...,https://www.cnbc.com/2022/06/24/frontier-sweet...,14 Hours Ago
9,Best trades on CNBC Friday: Pros put money in ...,https://www.cnbc.com/2022/06/24/best-trades-on...,14 Hours Ago
10,Roe v. Wade's demise forces companies to grapp...,https://www.cnbc.com/2022/06/24/roe-v-wade-abo...,14 Hours Ago
11,"Airlines, FAA spar over flight delays ahead of...",https://www.cnbc.com/2022/06/24/airlines-faa-s...,15 Hours Ago
12,"Investing Club: The week in review, the week a...",https://www.cnbc.com/2022/06/24/investing-club...,15 Hours Ago
13,"Disney, Apple and Amazon keep waiting as NFL c...",https://www.cnbc.com/2022/06/24/disney-apple-a...,15 Hours Ago
14,"Apple responds to Roe v. Wade rollback, covers...",https://www.cnbc.com/2022/06/24/apple-responds...,15 Hours Ago
15,Planned Parenthood CEO on abortion ruling: 'Al...,https://www.cnbc.com/2022/06/24/planned-parent...,17 Hours Ago
16,Supreme Court abortion ruling on Roe is 'catas...,https://www.cnbc.com/2022/06/24/roe-v-wade-rul...,17 Hours Ago
17,Decision overturning Roe v. Wade will hurt the...,https://www.cnbc.com/2022/06/24/roe-v-wade-dec...,17 Hours Ago
18,What to watch in the markets in the week ahead,https://www.cnbc.com/2022/06/24/quarter-end-bu...,17 Hours Ago
19,Trump takes credit for end of Roe after court ...,https://www.cnbc.com/2022/06/24/roe-v-wade-dec...,17 Hours Ago
20,Several states immediately ban abortion after ...,https://www.cnbc.com/2022/06/24/us-states-imme...,17 Hours Ago
21,Two billionaire investors take aim at struggli...,https://www.cnbc.com/2022/06/24/investing-club...,17 Hours Ago
22,How much money gas tax holidays save drivers: ...,https://www.cnbc.com/2022/06/24/gas-tax-holida...,17 Hours Ago
23,Goldman recommends stable and consistent stock...,https://www.cnbc.com/2022/06/24/goldman-advise...,18 Hours Ago
24,"Supreme Court's Thomas: Gay rights, contracept...",https://www.cnbc.com/2022/06/24/roe-v-wade-sup...,18 Hours Ago
25,Congress passes most significant gun reform bi...,https://www.cnbc.com/2022/06/24/congress-passe...,18 Hours Ago
26,Disney tells employees it will provide ‘compre...,https://www.cnbc.com/2022/06/24/roe-v-wade-dec...,18 Hours Ago
27,Stocks making the biggest moves midday: Carniv...,https://www.cnbc.com/2022/06/24/stocks-making-...,18 Hours Ago
28,U.S. Attorney General Garland says DOJ 'strong...,https://www.cnbc.com/2022/06/24/roe-v-wade-us-...,19 Hours Ago
29,Tech the new value stocks? Here are the 10 che...,https://www.cnbc.com/2022/06/24/tech-the-new-v...,19 Hours Ago

# Most Downloaded Articles

In [364]:
page03 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup03 = BeautifulSoup(page03.content)

In [372]:
a1 = soup03.find('p', class_='sc-1q3g1nv-0 sc-15ho9eu-1 eTETae bqTbOd')
a = a1.text

b1 = soup03.find('span', class_='sc-1w3fpd7-0 pgLAT')
b = b1.text

c1 = soup03.find('span', class_='sc-1thf9ly-2 bKddwo')
c = c1.text

In [400]:
d = soup03.find('a', class_='sc-5smygv-0 nrDZj')
d= d['href']

In [408]:
a1 = [a]
a2 = [b]
a3 = [c]
a4 = [d]

In [411]:
F = pd.DataFrame({'Paper Title':a1,
      'Authors':a2,
      'Published Date':a3,
       'Paper URL':a4
      })

In [413]:
F.T

                                                                0
Paper Title     The most downloaded articles from Artificial I...
Authors         Silver, David, Singh, Satinder, Precup, Doina,...
Published Date                                       October 2021
Paper URL       https://www.sciencedirect.com/science/article/...

# Dineout.co.in Restaurant

In [5]:
page04 = requests.get('https://www.dineout.co.in/mumbai-restaurants')
soup04 = BeautifulSoup(page04.content)

In [47]:
X = []

for i in soup04.find_all('a', class_='restnt-name ellipsis'):
    X.append(i.text)

Z = []

for i in soup04.find_all('span', class_='double-line-ellipsis'):
    Z.append(i.text)

P = []

for i in soup04.find_all('div', class_='restnt-rating rating-4'):
    P.append(i.text)
    
L = []

for i in soup04.find_all('div', class_='restnt-loc ellipsis'):
    L.append(i.text)

In [63]:
P=[]

for i in soup04.find_all('div', class_='img-wrap'):
    P.append(i.text)

In [49]:
P[1]='4.3'
P[2]='3.6'
P[14]='4.3'
P[15]='4.3'

In [58]:
Q = []

for i in soup04.find_all('img', class_='no-img'):
    Q.append(i['data-src'])

In [59]:
data = pd.DataFrame({
    'Name':X,
    'Cuisine':Z,
    'Location':L,
    'Rating':P,
    'Image URL':Q
})

In [60]:
data[['Price','Cuisine']]=data['Cuisine'].str.split('|',expand=True)

In [61]:
data.drop('Price',axis=1,inplace=True)

In [62]:
data

,Name,Cuisine,Location,Rating,Image URL
0,Episode One,"Finger Food, Asian, Italian, Chinese","Delphi Building,Powai, Powai",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Sigree Global Grill,"North Indian, Biryani","Ventura Building,Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Rude Lounge,"North Indian, Fast Food","Supreme Business Park,Powai, Powai",3.6,https://im1.dineout.co.in/images/uploads/resta...
3,Hitchki,"North Indian, Fast Food","R City Mall,Ghatkopar West, Central Suburbs",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Pop Tate's,"Continental, Chinese, Fast Food","R City Mall,Ghatkopar West, Central Suburbs",4.4,https://im1.dineout.co.in/images/uploads/resta...
5,Pop Tate's,"Continental, Chinese, Fast Food","Mayfair Sonata Green CHS,Vikhroli West, Centra...",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Bombay Martini,"Finger Food, North Indian, Continental","Kailash Towers,Powai, Powai",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,Green Autobahn,"Goan, North Indian, Bengali, Chettinad","R City Mall,Ghatkopar West, Central Suburbs",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Urban Tadka,"North Indian, Mughlai","R City Mall,Ghatkopar West, Central Suburbs",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Lord of the Drinks,"Chinese, European, Asian, North Indian","Powai, Powai",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,Mainland China,"Chinese, Asian, Thai","Hiranandani, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,Hitchki,"North Indian, Fast Food","Hiranandani Business Park,Powai, Powai",4.5,https://im1.dineout.co.in/images/uploads/resta...
12,PizzaExpress,"Italian, Pizza, Beverages","Ventura Building,Powai, Powai",4.4,https://im1.dineout.co.in/images/uploads/resta...
13,Khandani Rajdhani,"Gujarati, Rajasthani, North Indian","R City Mall,Ghatkopar West, Central Suburbs",4.2,https://im1.dineout.co.in/images/uploads/resta...
14,Cream Centre- Ghatkopar West,"North Indian, Street Food, Fast Food, Mexican...","R City Mall,Ghatkopar West, Central Suburbs",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,ABs - Absolute Barbecues,North Indian,"Chandivali, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,The Sassy Spoon,"Continental, European","Delphi Building,Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,The Butter Kitchen,North Indian,"Ventura Building,Powai, Powai",3.8,https://im1.dineout.co.in/images/uploads/resta...
18,Chili’s American Grill and Bar,"American, Mexican, Tex Mex","Ventura Building,Powai, Powai",4.2,https://im1.dineout.co.in/images/uploads/resta...
19,Timbuctoo,"Finger Food, Chinese, Italian, North Indian","Mayfair Sonata Green CHS,Vikhroli West, Centra...",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,House of Mandarin,Asian,"Delphi Building,Powai, Powai",4.5,https://im1.dineout.co.in/images/uploads/resta...

# Top Publications

In [148]:
page05 = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup05 = BeautifulSoup(page05.content)

In [149]:


X = []

for i in soup05.find_all('td', class_='gsc_mvt_t'):
    X.append(i.text)

Z = []

for i in soup05.find_all('td', class_='gsc_mvt_n'):
    Z.append(i.text)

In [208]:
z = pd.DataFrame({'Z':Z})

In [165]:
a = z.loc[(np.arange(1,200,2))]
b = z.loc[(np.arange(0,200,2))]

In [176]:
a = a.reset_index()
b = b.reset_index()

In [196]:
df = pd.DataFrame({
    'Publication':X,
})

In [197]:
df = pd.concat([df,a,b],axis=1)

In [200]:
df.columns.values[2] = 'h5-median'
df.columns.values[4] = 'h5-index'

In [203]:
df.drop('index',axis=1,inplace=True)

In [204]:
df = df[['Publication','h5-index','h5-median']]
df = df.reset_index()
df.index = df.index + 1

In [206]:
df.drop('index',axis=1,inplace=True)

In [218]:
df.index.names = ['Ranking']
df

                                               Publication h5-index h5-median
Ranking
1                                                   Nature      414       607
2                      The New England Journal of Medicine      410       704
3                                                  Science      391       564
4        IEEE/CVF Conference on Computer Vision and Pat...      356       583
5                                               The Lancet      345       600
...                                                    ...      ...       ...
96                                 Frontiers in Immunology      134       177
97                                                   Small      134       173
98                                       Nature Immunology      133       210
99                                           JAMA Oncology      133       202
100                                   The Lancet Neurology      133       200

[100 rows x 3 columns]

# Thank You