In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sawan\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\sawan\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\sawan\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sawan\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\sawan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\sawan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sawan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\sawan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\sawan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sawan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sawan\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\sawan\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sawan\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sawan\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sawan\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sawan\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\sawan\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\sawan\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sawan\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [113]:
import selenium
from selenium import webdriver 
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from selenium .webdriver.common.by import By

# Naukari.com Job Titles (Q1 and Q2)

In [324]:
driver = webdriver.Chrome(r'C:\Users\sawan\Desktop\chromedriver.exe')

In [325]:
url = 'https://www.naukri.com/'
driver.get(url)

In [326]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [327]:
search_job.send_keys('Data Scientist')

In [328]:
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [329]:
search_loc.send_keys('Bangalore')

In [330]:
enter = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
enter

In [331]:
enter.click()

In [332]:
naukari_heading = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
len(naukari_heading)

20

In [333]:
jobs = []

for i in naukari_heading:
    jobs.append(i.text)

In [334]:
naukari_loc = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")

loc = []

for i in naukari_loc:
    loc.append(i.text)

In [335]:
naukari_comp = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

comp = []

for i in naukari_comp:
    comp.append(i.text)

In [336]:
naukari_exp = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

exp = []

for i in naukari_exp:
    exp.append(i.text)

In [337]:
job_data = pd.DataFrame ({
    'Job Title': jobs,
    'Company Name': comp,
    'Experience required': exp,
    'Location': loc
})

In [338]:
Data = job_data[0:10]
Data

,Job Title,Company Name,Experience required,Location
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,3-8 Yrs,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-21 Yrs,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
2,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),8-13 Yrs,"Bangalore/Bengaluru, Pune"
3,Dataiku Consultant,Wipro,10-16 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
4,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru
5,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,6-10 Yrs,Bangalore/Bengaluru
6,Data Scientist: Advanced Analytics,IBM,2-7 Yrs,Bangalore/Bengaluru
7,Research Scientist,IBM,3-7 Yrs,Bangalore/Bengaluru
8,Principal - Data Scientist,Schneider Electric,7-10 Yrs,Bangalore/Bengaluru
9,Research and Development -AI/ML -(PhD ),EXL,4-8 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."

### Q1 with Experience required

In [339]:
data = Data.drop('Experience required', axis=1)
data

,Job Title,Company Name,Location
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
2,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Pune"
3,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
4,Data Scientist,Applied Materials,Bangalore/Bengaluru
5,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru
6,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
7,Research Scientist,IBM,Bangalore/Bengaluru
8,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru
9,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."

### Q2 without Experience required

# Naukari.com Job Titles (Q3)

In [20]:
filter_sal = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[1]/label/i")
filter_sal

In [21]:
filter_sal.click()

In [22]:
naukari_heading2 = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
jobs2 = []

for i in naukari_heading2:
    jobs2.append(i.text)
    
naukari_loc2 = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")

loc2 = []

for i in naukari_loc2:
    loc2.append(i.text)
    
naukari_comp2 = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

comp2 = []

for i in naukari_comp2:
    comp2.append(i.text)   

naukari_exp2 = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

exp2 = []

for i in naukari_exp2:
    exp2.append(i.text)

In [23]:
job_data = pd.DataFrame ({
    'Job Title': jobs2,
    'Company Name': comp2,
    'Experience required': exp2,
    'Location': loc2
})

In [25]:
Data2 = job_data[0:10]
Data2

,Job Title,Company Name,Experience required,Location
0,Data Scientist,Genpact,7-12 Yrs,Bangalore/Bengaluru
1,Research Analyst,Xsys Software Technologies,0-5 Yrs,Bangalore/Bengaluru(Mathikere +11)
2,Data Scientist,Eversana,3-7 Yrs,"Pune(Koregaon Park), Bangalore/Bengaluru(Bella..."
3,Hiring For Data Science Intern- DataTrained Ed...,DataTrained,0-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
4,Data Scientist SME,AMSI TECHNOLOGIES PVT LIMITED,4-9 Yrs,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
5,Process Trainer,IB Business Services,2-5 Yrs,"Tirunelveli, Chennai, Bangalore/Bengaluru(Vidy..."
6,Hiring For Python Developer,ANBLICKS CLOUD DATA ENGG PRIVATE LIMITED,3-6 Yrs,"Hyderabad/Secunderabad, Ahmedabad"
7,Research Associate - Data Science,Recodeminds Pvt Ltd,1-3 Yrs,Hyderabad/Secunderabad
8,Data Scientist - Experienced/fresher | Kolkata,SIBIA Analytics and Consulting Services Pvt Ltd,0-4 Yrs,Kolkata
9,Data Scientist,cliqhr.com,5-8 Yrs,Bangalore/Bengaluru

# Flipkart ("Sunglasses")

In [3]:
import time

In [91]:
driver = webdriver.Chrome(r'C:\Users\sawan\Desktop\chromedriver.exe')

In [4]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [5]:
close = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

In [6]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('Sunglass')

In [15]:
enter = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
enter.click()

In [16]:
company = []
des = []
price = []
dis = []
   
sunglass_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in sunglass_company:
    company.append(i.text)
    
sunglass_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")

    

for j in sunglass_des:
    des.append(j.text)
    
sunglass_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in sunglass_price:
    price.append(k.text)   
    
sunglass_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    

for l in sunglass_dis:
    dis.append(l.text)

In [18]:
next_b = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_b.click()

In [19]:
sunglass_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in sunglass_company:
    company.append(i.text)
    
sunglass_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")

    

for j in sunglass_des:
    des.append(j.text)
    
sunglass_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in sunglass_price:
    price.append(k.text)   
    
sunglass_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    

for l in sunglass_dis:
    dis.append(l.text)

In [21]:
next_b = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_b.click()

In [22]:
sunglass_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in sunglass_company:
    company.append(i.text)
    
sunglass_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")

    

for j in sunglass_des:
    des.append(j.text)
    
sunglass_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in sunglass_price:
    price.append(k.text)   
    
sunglass_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    

for l in sunglass_dis:
    dis.append(l.text)

In [23]:
next_b = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_b.click()

In [24]:
sunglass_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in sunglass_company:
    company.append(i.text)
    
sunglass_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")

    

for j in sunglass_des:
    des.append(j.text)
    
sunglass_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in sunglass_price:
    price.append(k.text)   
    
sunglass_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    

for l in sunglass_dis:
    dis.append(l.text)

In [26]:
print (len(company))
print (len(des))
print (len(price))
print (len(dis))

160
160
160
160

In [27]:
df = pd.DataFrame({
    'Brand':company,
    'Product Description':des,
    'Price':price,
    "Discount":dis
})

In [30]:
df = df[0:100]

In [31]:
df

,Brand,Product Description,Price,Discount
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598,80% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
...,...,...,...,...
95,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹236,80% off
96,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,85% off
97,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off
98,Fastrack,UV Protection Wayfarer Sunglasses (55),₹721,9% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off

- I tried to Automate the process by using While loop.

- However it didnt work as the full XPath for 'Next' button changes after the 2nd page.

- Next button Page 1 full xpath (/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11])
- Next button Page 2 full xpath (/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12])

In [13]:
company_name = []
desc = []
product_price = []
discount = []

w = 1

while w < 5:    
    sunglass_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

    for i in sunglass_company:
        company_name.append(i.text)
    
    sunglass_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")

    

    for j in sunglass_des:
        desc.append(j.text)
    
    sunglass_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

    for k in sunglass_price:
        product_price.append(k.text)   
    
    sunglass_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    

    for l in sunglass_dis:
        discount.append(l.text)   
        
    time.sleep(5) # because of the slow internet I offer some seconds to read all the info
    
    next_b = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_b.click()
    
    time.sleep(3)
    
    w += 1

# Iphone 11 reviews

In [35]:
driver = webdriver.Chrome(r'C:\Users\sawan\Desktop\chromedriver.exe')

### I discussed with Shwetank Mishra that it was not possible to handle multiple tabs hence have provided the below link and i scrap the data from below link

In [36]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=e67fc010-08f7-40eb-818a-ddb66f8f81de.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=b7dkdvhslc0000001657690328482&qH=f6cdfdaa9f3c23f3'
driver.get(url)

In [38]:
rating = []
review_sum = []
full_review = []

In [39]:
rating1 = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    

for i in rating1:
    rating.append(i.text)
    
review_sum1 = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")

    
for m in review_sum1:
    review_sum.append(m.text) 
    
full_review1 = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    
    

for k in full_review1:
    full_review.append(k.text)

In [52]:
reviews = pd.DataFrame({
    'Rating':rating,
    'Review Summary':review_sum,
    'Full Review':full_review
})

In [53]:
reviews = reviews[0:3]

In [54]:
reviews

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...

 ### I was not able to load more reviews as it was showing a technical error that says "Something's not right! Please try again"
 
 ### I Tried with other iphone 11 products but it was showing the same result

# Shoes Information

In [23]:
driver = webdriver.Chrome(r'C:\Users\sawan\Desktop\chromedriver.exe')

In [3]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [4]:
close = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

In [5]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('sneakers')

In [6]:
enter = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
enter.click()

In [7]:
company = []
des = []
price = []
dis = []

In [8]:

   
shoes_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in shoes_company:
    company.append(i.text)
    
product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']")

    
for m in product_des:
    des.append(m.text) 
    
shoes_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in shoes_price:
    price.append(k.text)   
    
shoes_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    
for l in shoes_dis:
    dis.append(l.text)

In [9]:
next_b = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_b.click()

In [10]:
shoes_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in shoes_company:
    company.append(i.text)
    
product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']")

    
for m in product_des:
    des.append(m.text) 
    
shoes_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in shoes_price:
    price.append(k.text)   
    
shoes_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    
for l in shoes_dis:
    dis.append(l.text)

In [11]:
next_b = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_b.click()

In [12]:
shoes_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in shoes_company:
    company.append(i.text)
    
product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']")

    
for m in product_des:
    des.append(m.text) 
    
shoes_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in shoes_price:
    price.append(k.text)   
    
shoes_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    
for l in shoes_dis:
    dis.append(l.text)

In [13]:
next_b = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_b.click()

In [14]:
shoes_company = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    

for i in shoes_company:
    company.append(i.text)
    
product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']")

    
for m in product_des:
    des.append(m.text) 
    
shoes_price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    
    

for k in shoes_price:
    price.append(k.text)   
    
shoes_dis = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")

    
for l in shoes_dis:
    dis.append(l.text)

In [16]:
description = pd.DataFrame({
    "description":des
})

In [18]:
a = description['description'].str.split('\n', expand=True)

In [19]:
a

,0,1,2,3,4
0,WOODLAND,Sneakers For Men,"₹2,096₹2,99530% off",Free delivery,EOSS
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,"₹269₹1,29979% off",Free delivery,Deal of the Day
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,"₹299₹1,29976% off",Free delivery,Deal of the Day
3,URBANBOX,Sneakers Sneakers For Men,₹198₹99980% off,None,None
4,Magnolia,Sneakers For Men,₹449₹99955% off,Free delivery,Deal of the Day
...,...,...,...,...,...
155,Mast & Harbour,Sneakers For Men,"₹743₹2,39969% off",Free delivery,Deal of the Day
156,TR,Sneakers For Men,₹374₹99962% off,Free delivery,None
157,SWIGGY,"Casual Shoes , Snekers Shoes,Lace-Up PVC Shoes...",₹239₹49952% off,Free delivery,"Buy 2 items, save extra 5%"
158,kardam&sons,sneaker white for men Sneakers For Men,"₹398₹1,29969% off",Free delivery,None
159,AKIMBO,A-SHOES-205 Sneakers For Men,₹449₹99955% off,Lowest price since launch,None

In [20]:
a.drop([0,2,3,4],axis=1,inplace=True)

In [22]:
shoes = pd.DataFrame({
    'Brand':company[0:100],
    'Price':price[0:100],
    'Discount': dis[0:100]    
})

In [23]:
shoes['Product Description'] = a[0:100]

In [24]:
shoes = shoes[['Brand','Product Description','Price','Discount']]

In [25]:
shoes

,Brand,Product Description,Price,Discount
0,WOODLAND,Sneakers For Men,"₹2,096",30% off
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹269,79% off
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
3,URBANBOX,Sneakers Sneakers For Men,₹198,80% off
4,Magnolia,Sneakers For Men,₹449,55% off
...,...,...,...,...
95,BAUCHHAAR,Sneakers For Men,₹449,55% off
96,SPARX,Canvas Casual Partywear Outdoor Sneakers Shoes...,₹730,14% off
97,HOTSTYLE,CR-1 Sneakers For Men,₹271,45% off
98,KNIGHT WALKERS,Sneakers For Men,₹648,56% off
99,Layasa,Sneakers For Men,₹499,50% off

# Laptop Data

In [57]:
driver = webdriver.Chrome(r'C:\Users\sawan\Desktop\chromedriver.exe')

In [58]:
url = 'https://www.amazon.in/'
driver.get(url)

In [59]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys('Laptop')

In [60]:
enter = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
enter.click()

In [61]:
filter_CPU = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i")
filter_CPU.click()

In [86]:
title = []
price = []

In [87]:


title_company = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
    

for i in title_company:
    title.append(i.text)
    
    
laptop_price = driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
    
    

for k in laptop_price:
    price.append(k.text)

In [90]:
laptop = pd.DataFrame({
    'Laptop':title,
    'Price':price
})

In [91]:
laptop = laptop[0:10]

In [92]:
laptop

                                              Laptop   Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  89,990
1  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...  87,900
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  86,990
3  Infinix INBook X1 Pro Core i7 10th Gen - (16 G...  53,999
4  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  82,990
5  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....  99,400
6  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  57,890
7  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...  85,499
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  86,990
9  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  89,990

### Not able to scrap ratings since not every product has rating and it does not have numerical value it only shows the emtly list after scrapping the data

I have still added the code for the reference
I tired with every parent class and specific rating class bt it was not working

ratings = []

laptop_ratings = driver.find_elements(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']")

for k in laptop_ratings:

    ratings.append(k.text)
    

laptop_ratings = driver.find_elements(By.XPATH,"//span[@class='acr-average-stars-rating-text']")

for k in laptop_ratings:
    ratings.append(k.text)

# Job Data scrapping

In [186]:
driver = webdriver.Chrome(r'C:\Users\sawan\Desktop\chromedriver.exe')

In [187]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [188]:
jobs = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
jobs.click()

In [189]:
search = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search.send_keys('Data Scientist')

In [190]:
enter = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
enter.click()

In [191]:
location = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location.click()

In [192]:
search_noida = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_noida.send_keys('Noida')

In [193]:
enter_Noida = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
enter_Noida.click()

In [194]:
job = []
company = []
reviews = []
days = []

In [195]:
jobs = driver.find_elements(By.XPATH,"//a[@class='title noclick']")
    
for i in jobs:
    job.append(i.text)


company_name = driver.find_elements(By.XPATH,"//div[@class='company-info']")
   
for m in company_name:
    company.append(m.text) 
    
      
review = driver.find_elements(By.XPATH,"//div[@class='rating-wrapper']")
    
for k in review:
    reviews.append(k.text)   
    
    
day = driver.find_elements(By.XPATH,"//span[@class='body-small-l']")

for l in day:
    days.append(l.text)

In [197]:
day = pd.DataFrame({'Days':days})

a = day.loc[(np.arange(0,20,2))]

In [201]:
Jobs = company[1:]

In [207]:
Jobs = pd.DataFrame({
    "Company Name":Jobs
})

In [208]:
Jobs

                                        Company Name
0  Optum Global Solutions (India) Private Limited...
1  GENPACT India Private Limited\n4.0\n(20k Reviews)
2         Dew Solutions Pvt. Ltd.\n4.3\n(80 Reviews)
3           InfoEdge India Ltd.\n3.9\n(1.7k Reviews)
4       Info Edge India Limited\n3.9\n(1.7k Reviews)
5       Info Edge India Limited\n3.9\n(1.7k Reviews)
6                   Latent bridge\n4.5\n(54 Reviews)
7                      Careerera\n3.8\n(100 Reviews)
8           Careernet Consulting\n3.9\n(288 Reviews)
9    Acidaes Solutions Pvt. Ltd.\n3.8\n(103 Reviews)

In [209]:
Jobs[['Company Name','Ratings','Reviews']] = Jobs['Company Name'].str.split('\n',expand = True)

In [212]:
a = a.reset_index()

In [215]:
a.drop('index', axis=1, inplace=True)

In [216]:

Jobs['Days'] = a

In [172]:
Jobs.drop('Reviews', axis=1, inplace=True)

In [217]:
jobs = pd.DataFrame({
    'Job Title':job
})

In [218]:
Jobs['Job Title'] = job

In [219]:
Jobs[['Job Title','Company Name','Ratings','Days']]

,Job Title,Company Name,Ratings,Days
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,4.1,8d ago
1,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,4.0,15d ago
2,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,4.3,6d ago
3,Data Scientist - Machine Learning/Big Data (0-...,InfoEdge India Ltd.,3.9,13d ago
4,Info Edge - Data Scientist - Machine Learning/...,Info Edge India Limited,3.9,14d ago
5,Info Edge - Senior Data Scientist - Machine Le...,Info Edge India Limited,3.9,14d ago
6,LatentBridge - Data Scientist - Python/R (2-6 ...,Latent bridge,4.5,14d ago
7,Data Science Trainer | AI | Machine Learning |...,Careerera,3.8,1d ago
8,Principal Scientist - Machine Learning - IT (1...,Careernet Consulting,3.9,28d ago
9,Data Scientist - NLP,Acidaes Solutions Pvt. Ltd.,3.8,14d ago

# Data Scientist Salary

In [297]:
driver = webdriver.Chrome(r'C:\Users\sawan\Desktop\chromedriver.exe')

In [298]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [299]:
salary = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
salary.click()

In [300]:
search = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search.send_keys('Data Scientist')

In [301]:
enter = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
enter.click()

In [302]:
company_data1=[]

In [303]:
company_names = driver.find_elements(By.XPATH,"//div[@class='company-info']")
   
for m in company_names:
    company_data1.append(m.text)

In [304]:
company_data = pd.DataFrame({
    'Company Name':company_data1
})

In [305]:
company_data = company_data[0:10]

In [306]:
company_data[['Company Name','Job','Experience']] = company_data['Company Name'].str.split('\n',expand = True)

In [307]:
company_data.drop('Job', axis=1, inplace=True)

In [308]:
company_data

        Company Name                                 Experience
0            Walmart    3 yrs experience (based on 12 salaries)
1           Ab Inbev  3-4 yrs experience (based on 33 salaries)
2                 ZS    2 yrs experience (based on 15 salaries)
3              Optum  3-4 yrs experience (based on 32 salaries)
4       Reliance Jio  3-4 yrs experience (based on 21 salaries)
5  Fractal Analytics  2-4 yrs experience (based on 89 salaries)
6    Tiger Analytics  2-4 yrs experience (based on 51 salaries)
7       UnitedHealth  2-4 yrs experience (based on 57 salaries)
8        EXL Service  3-4 yrs experience (based on 21 salaries)
9           Deloitte  2-4 yrs experience (based on 69 salaries)

In [309]:
company_data[['Experience','Salary Count']] = company_data['Experience'].str.split('(',expand = True)

In [310]:
company_data[['test','Salary Count']] = company_data['Salary Count'].str.split('based on',expand = True)

In [311]:
company_data[['Salary Count','test']] = company_data['Salary Count'].str.split(')',expand = True)

In [312]:
company_data.drop('test',axis=1,inplace=True)

In [313]:
company_data

        Company Name           Experience  Salary Count
0            Walmart    3 yrs experience    12 salaries
1           Ab Inbev  3-4 yrs experience    33 salaries
2                 ZS    2 yrs experience    15 salaries
3              Optum  3-4 yrs experience    32 salaries
4       Reliance Jio  3-4 yrs experience    21 salaries
5  Fractal Analytics  2-4 yrs experience    89 salaries
6    Tiger Analytics  2-4 yrs experience    51 salaries
7       UnitedHealth  2-4 yrs experience    57 salaries
8        EXL Service  3-4 yrs experience    21 salaries
9           Deloitte  2-4 yrs experience    69 salaries

In [314]:
av_ctc = []
min_max_ctc = []

In [315]:
av_ctc1 = driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
    
for i in av_ctc1:
    av_ctc.append(i.text)


min_max_ctc1 = driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
   
for m in min_max_ctc1:
    min_max_ctc.append(m.text)

In [316]:
CTC = pd.DataFrame({'ctc':min_max_ctc})

In [317]:
min_ctc = CTC.loc[(np.arange(0,20,2))]
max_ctc = CTC.loc[(np.arange(1,20,2))]

In [318]:
min_ctc = min_ctc.reset_index()
max_ctc = max_ctc.reset_index()

In [319]:
min_ctc.drop('index',axis=1,inplace=True)
max_ctc.drop('index',axis=1,inplace=True)

In [320]:
av_CTC = pd.DataFrame({'Average Salary':av_ctc})

In [321]:
company_data['Average Salary'] = av_CTC
company_data['Minimum Salary'] = min_ctc
company_data['Maximum Salary'] = max_ctc
company_data['Total Salary Record']=company_data['Salary Count']

In [322]:
company_data.drop('Salary Count',axis=1,inplace=True)

In [323]:
company_data[['Company Name','Total Salary Record','Average Salary','Minimum Salary','Maximum Salary','Experience']]

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience
0,Walmart,12 salaries,₹ 30.6L,₹ 25.0L,₹ 36.0L,3 yrs experience
1,Ab Inbev,33 salaries,₹ 20.8L,₹ 15.0L,₹ 26.2L,3-4 yrs experience
2,ZS,15 salaries,₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs experience
3,Optum,32 salaries,₹ 15.9L,₹ 11.0L,₹ 22.5L,3-4 yrs experience
4,Reliance Jio,21 salaries,₹ 15.7L,₹ 5.6L,₹ 26.2L,3-4 yrs experience
5,Fractal Analytics,89 salaries,₹ 15.5L,₹ 10.0L,₹ 23.0L,2-4 yrs experience
6,Tiger Analytics,51 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
7,UnitedHealth,57 salaries,₹ 14.0L,₹ 8.3L,₹ 21.1L,2-4 yrs experience
8,EXL Service,21 salaries,₹ 13.2L,₹ 7.6L,₹ 21.0L,3-4 yrs experience
9,Deloitte,69 salaries,₹ 12.8L,₹ 7.0L,₹ 25.0L,2-4 yrs experience